/* app/devs/header */
.site__header {
	position: relative;
	z-index: 1;
	background: $brand_alt;
}

.header__top {
	@include group();
	background: $bg_top;
}

#brand {
	float: left;
	margin: 0;
	padding: 19px 60px 19px 0px;
	a, img {
		display: block;
	}
	span {
		display: none;
	}
}
