/* app/devs/sidebar */

$sidebar_padding: 25px 30px 25px 0px;

.site__sidebar {
	.form--search {
		border-bottom: 1px solid $global_border;
		padding: $sidebar_padding;
		.placeholder {
			display: none;
		}
		.form__group {
			position: relative;
			margin: 0;
		}
		button {
			position: absolute;
			top: 0;
			right: 0;
			background: url('../img/sprite_icons.png') 16px -274px no-repeat;
			width: 45px;
			height: 37px;
			padding: 0;
			margin: 0;
			border: none;
			text-indent: -9999px;
		}
	}

	.tabs {
		padding: $sidebar_padding;
	}

	.btn--donate {
		@extend .btn--important;
		display: block;
		text-transform: uppercase;
		margin: 0 30px 40px 0px;
	}

}

.sidebar__tags {
	padding: 25px 30px 25px 0px;
	h4 {
		padding: 0 0 10px;
		font-weight: 700;
		color: $mid_text_colour;
		border-bottom: 1px solid $tab_border_colour;
	}
	.tag-collection {
		padding: 10px 0 20px;
		border-bottom: 1px dotted $global_border;
	}
	.label--default {
		font-size: 1.3em;
		margin: 5px;
	}
}

.sidebar__form {
	padding: 25px 30px 25px 0px;
	form {
		border-bottom: 1px dotted $global_border;
	}
	h4 {
		padding: 0 0 10px;
		margin: 0 0 20px;
		font-weight: 700;
		color: $mid_text_colour;
		border-bottom: 1px solid $tab_border_colour;
	}
	label {
		font-weight: normal;
		color: $litestTextColour;
	}
}

@media (max-width: $tablet_landscape) {
	.site__sidebar {
		display: none;
		width: auto;
		float: none;
		position: absolute;
		top: 124px;
		left: 0;
		background: $white;
		border: 1px solid $global_border;
		padding: 20px;
		z-index: 100;
		&.show--sidebar {
			@include boxShadow($singleShadow);
			display: block;
		}
	}
}
